@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.navLink.active {
  @apply text-[#0D9084];
}

.navLink {
  @apply text-[#0d90857e] text-[18px];
}
.navLink:hover {
  @apply text-[#0D9084];
}
nav .scroll {
  @apply bg-[#0c2020ae] transition duration-300 ease-out shadow-md;
}

.btn {
  @apply relative;
}

.arrow {
  @apply transform duration-300 ease-in-out text-[#0D9084];
}
.arr {
  @apply transform duration-300 ease-in-out text-[#000000];
}

/* .hovered {
  @apply scale-110 bg-neutral-300 duration-500 ease-in-out;
} */

.hovered .arr {
  transform: translateX(5px);
}

.move:hover {
  transform: translateX(5px);
}

.footer-link:hover .arrow {
  transform: translateX(5px);
}

.hero-illustration {
  position: relative;
  animation: moveEffect 2s ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes moveEffect {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
