@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.navLink.active {
  @apply text-orange-500;
}

.navLink {
  @apply text-orange-500 text-base;
}
.navLink:hover {
  @apply text-orange-200;
}
nav .scroll {
  @apply bg-[#0c2020ae] transition duration-300 ease-in-out shadow-md;
}

.btn {
  @apply relative;
}

.arrow {
  @apply transform duration-300 ease-in-out text-[#0D9084];
}
.arr {
  @apply transform duration-300 ease-in-out text-white;
}

/* .hovered {
  @apply scale-110 bg-neutral-300 duration-500 ease-in-out;
} */

.hovered .arr {
  transform: translateX(5px);
}

.move:hover {
  transform: translateX(5px);
}

.footer-link:hover .arrow {
  transform: translateX(5px);
}

.hero-illustration {
  position: relative;
  animation: moveEffect 2s ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes moveEffect {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

.react-multi-carousel-arrow {
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
}

.react-multi-carousel-arrow:hover {
  background-color: #333;
}

.react-multi-carousel-arrow--left {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.react-multi-carousel-arrow--right {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

h1 {
  @apply text-orange-500;
}
